/* @import url('httsp://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

body {
height: 100vh;
background: url("background.jpg") no-repeat center / cover;
padding: 50px 5%;
}

.container {
position: relative;
height: 100%;
background: rgba(255, 255, 255, .1);
border: 2px solid rgba(255, 255, 255, .2);
border-radius: 30px;
backdrop-filter: blur(30px);
transform: scale(0);
animation: zoom-in 1s ease forwards;
}

@keyframes zoom-in {
100% {
transform: scale(1);
}
}

header {
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 25px 5%;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}

.animated {
transform: translateY(30px);
opacity: 0;
animation: slide-in 1s ease forwards;
animation-delay: 1s;
}

@keyframes slide-in {
100% {
transform: translateY(0);
opacity: 1;
}
}

.logo {
font-size: 25px;
color: #fff;
text-decoration: none;
font-weight: 600;
}

.navbar a {
font-size: 18px;
color: #fff;
text-decoration: none;
font-weight: 500;
margin-left: 35px;
border-bottom: 2px solid transparent;
transition: .5s;
}

.navbar a:hover,
.navbar a.active {
border-color: #fff;
}

.home {
display: flex;
align-items: center;
height: 100%;
gap: 50px;
padding: 50px 5% 0;
color: #fff;
animation-delay: 1.5s;
}

.home-detail h1 {
font-size: 55px;
line-height: 1;
}

.home-detail h3 {
font-size: 32px;
}

.home-detail p {
margin: 10px 0 20px;
}

.home-detail .download-social {
display: flex;
align-items: center;
}

.btn {
display: inline-block;
padding: 10px 30px;
background: #fff;
border: 2px solid #fff;
border-radius: 40px;
box-shadow: 0 0 10px #fff;
color: #333;
text-decoration: none;
font-weight: 500;
transition: .5s;
}

.btn:hover {
background:  transparent;
box-shadow: none;
color: #fff;
}

.home-detail .social-icons {
margin-left: 20px;
}

.home-detail .social-icons a {
display: inline-flex;
padding: 8px;
border: 2px solid #fff;
border-radius: 50%;
font-size: 20px;
color: #fff;
text-decoration: none;
margin: 0 8px;
transition: .5s;
}

.home-detail .social-icons a:hover {
background: #fff;
box-shadow: 0 0 10px #fff;
color: #333;
}

.home-img .img-box {
position: relative;
width: 28vw;
height: 28vw;
border: 2px solid #fff;
border-radius: 50%;
box-shadow: 0 0 20px #fff;
overflow: hidden;
left: 170px;
}

.home-img .img-box img {
position: absolute;
top: 0px;
display: block;
width: 100%;
object-fit: cover;
} */












@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f9f3f3;
    color: #222;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 60px 10%;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    gap: 100px;
    background-color: rgb(255, 210, 217);
    border-radius: 25px;
    min-width: 90vh;
    padding: 50px;
}

/* Left Side */
.contact-info p {
    margin-bottom: 18px;
    font-size: 15px;
    color: #333;
}

.contact-info i {
    margin-right: 10px;
    color: #000;
}

/* Right Side */
.contact-form h2 {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
}

.underline {
    display: block;
    width: 60px;
    height: 3px;
    background-color: #c2700c;
    margin-bottom: 30px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 600px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    resize: none;
}

.contact-form button {
    background-color: #3c0d12;
    color: #fff;
    border: none;
    padding: 14px 30px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 130px;
}

.contact-form button:hover {
    background-color: #52171d;
}

/* Responsive */
@media (max-width: 900px) {
    .contact-container {
        flex-direction: column;
        gap: 50px;
    }
    
    .contact-form input,
    .contact-form textarea {
        width: 100%;
    }
}







