/* @import url('httsp://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


html {
  scroll-behavior: smooth;
  scroll-padding-block: 120px;
}

body {
    height: 100%;
    background: url("../img/background-2.jpg") no-repeat center / cover;
    padding: 50px 5%;
}

.container {
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    backdrop-filter: blur(30px);
    transform: scale(0);
    animation: zoom-in 1s ease forwards;
}

@keyframes zoom-in {
    100% {
        transform: scale(1);
    }
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.animated {
    transform: translateY(30px);
    opacity: 0;
    animation: slide-in 1s ease forwards;
    animation-delay: 1s;
}

@keyframes slide-in {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.logo {
    position: sticky;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: .5s;
    margin-right: 50px;
}

.navbar a:hover,
.navbar a.active {
    border-color: #fff;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    gap: 50px;
    padding-block: 100px;
    color: #fff;
    animation-delay: 1.5s;
    overflow-y: scroll;
}

.animated-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}

.reverse-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.home-detail {
    width: 650px;
    text-align: justify;
}

.home-detail h1 {
    font-size: 55px;
    /* line-height: 1; */
    margin-top: 0px;
}

.home-detail h2 {
    font-size: 32px;
    margin-top: 15px;
}

.home-detail h3{
    margin-top: 9px;
    margin: 10px 0 20px;
}

.home-detail .download-social {
    display: flex;
    align-items: center;
}

/* .btn {
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px #fff;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: .5s;
    font-family: "Poppins", sans-serif;
} */

.btn:hover {
    background:  transparent;
    box-shadow: none;
    color: #fff;
}

.home-detail .social-icons {
    margin-left: 20px;
}

.home-detail .social-icons a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
    transition: .5s;
}

.home-detail .social-icons a:hover {
    background: #fff;
    box-shadow: 0 0 10px #fff;
    color: #333;
}

.home-img .img-box {
    position: relative;
    width: 35vw;
    height: 30vw;
    border: 2px solid #fff;
    border-radius: 25%;
    box-shadow: 0 0 20px #fff;
    overflow: hidden;
    /* left: 230px; */
}

.home-img-2 {
    position: relative;
    width: 44vw;
    height: 35vw;
    border: 2px solid #fff;
    border-radius: 20%;
    box-shadow: 5px 0 20px #fff;
    overflow: hidden;
}

.home-img-3 {
    position: relative;
    width: 42vw;
    height: 35vw;
    border: 2px solid #fff;
    border-radius: 20%;
    box-shadow: 5px 0 20px #fff;
    overflow: hidden;
}

.home-img .img-box img {
    position: absolute;
    top: 0px;
    display: block;
    width: 100%;
    object-fit: cover;
}







