* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-image: linear-gradient(90deg, rgb(5, 87, 24), rgb(104, 52, 19)); */
  background-image: url(../img/background-5.jpg);
}

img {
  display: block;
}

.container {
  width: 1240px;
  margin-inline: auto;
  padding-inline: 20px;
}

.list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-block: 100px;
  padding-left: 0;
  list-style-type: none;
}

.list:hover .item:not(:hover) {
  filter: grayscale(1) blur(10px);
}

.item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  transition: filter 0.4s linear, transform 0.4s linear, box-shadow 0.4s linear;
}

.item:hover {
  transform: scale(1.08);
  box-shadow: 0 15px 40px rgba(0,0,0,0.6);
}

.pic {
  width: 230px;
  height: 100%;
  border-radius: 20px;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.4s linear;
}

.item:hover .caption {
  transform: translateY(60%);
}



/* filter:  grayscale(), blur()*/